# Automated merge strategies for different file types
package-lock.json merge=theirs
poetry.lock      merge=theirs
yarn.lock        merge=theirs
Pipfile.lock     merge=theirs
*.snap           merge=theirs
*.md             merge=union
CHANGELOG.md     merge=union
README.md        merge=union
*.svg *.png *.jpg *.jpeg *.gif *.zip *.tar.gz merge=binary
*.exe *.dll *.so *.dylib merge=binary